h1{
    background-color: black;
    color: white;
    width: 270px;
    height: 50px;
    margin: 0 auto;

}
.birinch{
    color: black;
    background-color: bisque;
  height: 100px;
  width: 1000px;
  margin:0 auto;
}
.ikinch{
    color: black;
    background-color: bisque;
    height: 100px;
    width: 1000px;
    margin:0 auto;
    margin-top: 9px;
}
.glavniy{
    background-color: black;
    border: 100px;
    margin: 100px;
    padding-block: 20px;
    padding-top: 20px;
    border: 5px solid red;

}
body{
    background-color:gray;
}